POSTGRES_DB=student_checkin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-db-password
JWT_SECRET=change-this-jwt-secret
API_PORT=28547
ACCESS_TOKEN_TTL_SECONDS=604800
REFRESH_TOKEN_TTL_SECONDS=2592000
SCHEDULER_INTERVAL_MS=60000
